<h1 align='center'>Transforming Dataset</h1>
<hr color=cian>

In [1]:
import pandas as pd
import numpy as np

In [2]:
path = '/content/drive/MyDrive/Colab Notebooks/mart_file.csv'

<h5>Describe the file</h5>

In [3]:
import chardet
with open(path, 'rb') as rawdata:
    result = chardet.detect(rawdata.read(100000))
result

{'confidence': 1.0, 'encoding': 'UTF-16', 'language': ''}

In [4]:
df2= pd.read_csv(path, encoding='utf-16', error_bad_lines=False, sep='\t')
df2.head()

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

   Row ID              Order ID  ...     Sales Quantity
0       1  CA-152156-2018_11_08  ...  261.9600        2
1       2  CA-152156-2018_11_08  ...  731.9400        3
2       3  CA-138688-2018_06_12  ...   14.6200        2
3       4  US-108966-2017_10_11  ...  957.5775        5
4       5  US-108966-2017_10_11  ...   22.3680        2

[5 rows x 19 columns]

<h5 align='center'>Copy database to changed it for Germany</h5>

In [5]:
df=df2.copy()

In [6]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 19 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Row ID          9994 non-null   int64
 1   Order ID        9994 non-null   object
 2   Order Date      9994 non-null   object
 3   Ship Date       9994 non-null   object
 4   Ship Mode       9994 non-null   object
 5   Customer ID     9994 non-null   object
 6   Customer Name   9994 non-null   object
 7   Sales Agent ID  9990 non-null   float64
 8   Country/Region  9994 non-null   object
 9   City            9994 non-null   object
 10  State           9994 non-null   object
 11  Postal Code     9983 non-null   float64
 12  Region          9994 non-null   object
 13  Product ID      9994 non-null   object
 14  Category        9994 non-null   object
 15  Sub-Category    9994 non-null   object
 16  Product Name    9994 non-null   object
 17  Sales           9994 non-null   float64
 18  Quantity        9994 non-null   int64
dtypes: float64(3), int64(2), object(14)
memory usage: 1.4+ MB

In [7]:
df['Order Date'] = pd.to_datetime(df['Order Date'], infer_datetime_format=True)
df['Ship Date'] = pd.to_datetime(df['Ship Date'], infer_datetime_format=True)

<h5>Select Year by condition</h5>

In [8]:
df['Year'] = pd.to_datetime(df['Order Date']).apply(lambda x: '{year}'.format(year=x.year))
df['Year']=df['Year'].astype(int)

In [9]:
df['Year'].value_counts()

2019    3312
2018    2587
2017    2102
2016    1993
Name: Year, dtype: int64

In [10]:
#df.drop(df[df.Year < 2018].index, inplace=True)

In [11]:
#df['Year'].value_counts()

In [12]:
print('Original Shape: {}'.format(df2.shape))
print('New Data Shape: {}'.format(df.shape))

Original Shape: (9994, 19)
New Data Shape: (9994, 20)

<h5>Fill NaN values</h5>

In [13]:
df2.isna().value_counts()

Row ID  Order ID  Order Date  Ship Date  Ship Mode  Customer ID  Customer Name  Sales Agent ID  Country/Region  City   State  Postal Code  Region  Product ID  Category  Sub-Category  Product Name  Sales  Quantity
False   False     False       False      False      False        False          False           False           False  False  False        False   False       False     False         False         False  False       9979
                                                                                                                              True         False   False       False     False         False         False  False         11
                                                                                True            False           False  False  False        False   False       False     False         False         False  False          4
dtype: int64

In [14]:
mask = df2['Postal Code'].isna()
mask = df2[mask]
mask.head()

      Row ID              Order ID  ...    Sales Quantity
1548    5275  CA-162887-2017_11_07  ...   715.20        3
2287    9742  CA-117086-2017_11_08  ...  4404.90        5
5918    9390  US-127292-2019_01_19  ...     2.04        1
5947    9388  US-127292-2019_01_19  ...    12.28        1
6191    9389  US-127292-2019_01_19  ...   542.94        3

[5 rows x 19 columns]

In [15]:
df['Postal Code'] = df['Postal Code'].fillna('0')
df['Postal Code'] = df['Postal Code'].astype(str)

<h5>Replace Location Values</h5>

In [16]:
df['Country/Region'].value_counts()

United States    9994
Name: Country/Region, dtype: int64

In [17]:
df['Country/Region'] = df['Country/Region'].replace('United States' , 'Deutschland')

In [18]:
df2['State'].value_counts().shape

(49,)

<h5>Replace handly</h5>

In [19]:
df['State'] = df['State'].replace({'California' : 'Baden-Württemberg',
                                   'New York' : 'Bayern',
                                   'Texas' : 'Berlin',
                                   'Pennsylvania' : 'Brandenburg',
                                   'Washington' : 'Bremen',
                                   'Illinois' : 'Hamburg',
                                   'Ohio' : 'Hessen',
                                   'Florida' : 'Niedersachsen',
                                   'Michigan' : 'Mecklenburg-Vorpommern',
                                   'North Carolina' : 'Nordrhein-Westfalen',
                                   'Arizona' : 'Rheinland-Pfalz',
                                   'Virginia' : 'Saarland',
                                   'Georgia' : 'Sachsen',
                                   'Tennessee' : 'Sachsen-Anhalt',
                                   'Colorado' : 'Schleswig-Holstein',
                                   'Indiana' : 'Thüringen'
                                   })

In [20]:
df['State'] = df['State'].replace({'Wyoming' : 'Baden-Württemberg',
                                   'West Virginia' : 'Bayern',
                                   'North Dakota' : 'Berlin',
                                   'South Dakota' : 'Brandenburg',
                                   'Montana' : 'Bremen',
                                   'Idaho' : 'Hamburg',
                                   'Kansas' : 'Hessen',
                                   'New Hampshire' : 'Niedersachsen',
                                   'Iowa' : 'Mecklenburg-Vorpommern',
                                   'New Mexico' : 'Nordrhein-Westfalen',
                                   'Nebraska' : 'Rheinland-Pfalz',
                                   'Nevada' : 'Saarland',
                                   'South Carolina' : 'Sachsen',
                                   'Louisiana' : 'Sachsen-Anhalt'
                                   })

In [21]:
df['State'] = df['State'].replace({'Mississippi' : 'Baden-Württemberg',
                                   'Utah' : 'Bayern',
                                   'Rhode Island' : 'Berlin',
                                   'Arkansas' : 'Brandenburg',
                                   'Alabama' : 'Bremen',
                                   'Missouri' : 'Hamburg',
                                   'Oklahoma' : 'Hessen',
                                   'Connecticut' : 'Niedersachsen',
                                   'Minnesota' : 'Mecklenburg-Vorpommern',
                                   'Delaware' : 'Nordrhein-Westfalen',
                                   'Maryland' : 'Rheinland-Pfalz',
                                   'Wisconsin' : 'Saarland',
                                   'Oregon' : 'Sachsen',
                                   'New Jersey' : 'Sachsen-Anhalt',
                                   'Massachusetts' : 'Schleswig-Holstein',
                                   'Kentucky' : 'Thüringen'
                                   })

In [22]:
df['State'] = df['State'].replace({'District of Columbia' : 'Berlin',
                                   'Maine' : 'Hamburg',
                                   'Vermont' : 'Nordrhein-Westfalen'
                                   })

In [23]:
#df['State'] = df['State'].replace({' Mecklenburg-Vorpommern':'Mecklenburg-Vorpommern' })

In [24]:
df['State'].value_counts().to_frame()

                        State
Baden-Württemberg        2055
Bayern                   1185
Berlin                   1058
Brandenburg               659
Hamburg                   587
Bremen                    582
Hessen                    559
Niedersachsen             492
Nordrhein-Westfalen       393
Mecklenburg-Vorpommern    374
Saarland                  373
Rheinland-Pfalz           367
Sachsen-Anhalt            355
Sachsen                   350
Schleswig-Holstein        317
Thüringen                 288

<h5>Replace City using conditions</h5>

In [25]:
mask = (df['State'] == 'Baden-Württemberg')
mask = df[mask]
mask['City'].value_counts()

Los Angeles       747
San Francisco     510
San Diego         170
San Jose           42
Jackson            34
                 ...
Cheyenne            1
Whittier            1
Citrus Heights      1
Lake Elsinore       1
Dublin              1
Name: City, Length: 86, dtype: int64

In [26]:
state = (df['State']=='Baden-Württemberg')
new_reg = 'West'
c1 = 'Los Angeles'
c2 = 'San Francisco'
col_city = 'City'
col_post = 'Postal Code'
col_reg = 'Region'

condition4 = state & (df['City'] != c1) & (df['City'] != c2)
new_city4 = 'Stuttgart'
new_post4 = '70173'
df.loc[condition4, col_city] = new_city4
df.loc[condition4, col_post] = new_post4

condition1 = state & (df['City'] == c2)
new_city1 = 'Manheim'
new_post1 = '68159'
df.loc[condition1, col_city] = new_city1
df.loc[condition1, col_post] = new_post1

condition2 = state & (df['City'] == c1)
new_city2 = 'Karlsruhe'
new_post2 = '76131'
df.loc[condition2, col_city] = new_city2
df.loc[condition2, col_post] = new_post2

condition3 = state
df.loc[condition3, col_reg] = new_reg

In [27]:
state = (df['State']=='Berlin')
c1 = 'Houston'
c2 = 'Dallas'
new_reg = 'East'
col_reg = 'Region'
col_city = 'City'
col_post = 'Postal Code'

condition4 = state & (df['City'] != c1) & (df['City'] != c2)
new_city4 = 'Berlin'
new_post4 = '10115'
df.loc[condition4, col_city] = new_city4
df.loc[condition4, col_post] = new_post4

condition1 = state & (df['City'] == c2)
new_city1 = 'Berlin'
new_post1 = '10178'
df.loc[condition1, col_city] = new_city1
df.loc[condition1, col_post] = new_post1

condition2 = state & (df['City'] == c1)
new_city2 = 'Berlin'
new_post2 = '10247'
df.loc[condition2, col_city] = new_city2
df.loc[condition2, col_post] = new_post2

condition3 = state
df.loc[condition3, col_reg] = new_reg

condition3 = state
df.loc[condition3, col_reg] = new_reg

In [28]:
state = (df['State']=='Bayern')
c1 = 'New York City'
c2 = 'Rochester'
new_reg = 'West'
col_reg = 'Region'
col_city = 'City'
col_post = 'Postal Code'

condition4 = state & (df['City'] != c1) & (df['City'] != c2)
new_city4 = 'München'
new_post4 = '80331'
df.loc[condition4, col_city] = new_city4
df.loc[condition4, col_post] = new_post4

condition1 = state & (df['City'] == c2)
new_city1 = 'Nürnberg'
new_post1 = '90402'
df.loc[condition1, col_city] = new_city1
df.loc[condition1, col_post] = new_post1

condition2 = state & (df['City'] == c1)
new_city2 = 'Augsburg'
new_post2 = '86150'
df.loc[condition2, col_city] = new_city2
df.loc[condition2, col_post] = new_post2

condition3 = state
df.loc[condition3, col_reg] = new_reg

In [29]:
state = (df['State']=='Brandenburg')
c1 = 'Philadelphia'
c2 = 'Little Rock'
new_reg = 'East'
col_reg = 'Region'
col_city = 'City'
col_post = 'Postal Code'

condition4 = state & (df['City'] != c1) & (df['City'] != c2)
new_city4 = 'Postdam'
new_post4 = '14467'
df.loc[condition4, col_city] = new_city4
df.loc[condition4, col_post] = new_post4

condition1 = state & (df['City'] == c2)
new_city1 = 'Cottbus'
new_post1 = '03042'
df.loc[condition1, col_city] = new_city1
df.loc[condition1, col_post] = new_post1

condition2 = state & (df['City'] == c1)
new_city2 = 'Neuruppin'
new_post2 = '16816'
df.loc[condition2, col_city] = new_city2
df.loc[condition2, col_post] = new_post2

condition3 = state
df.loc[condition3, col_reg] = new_reg

In [30]:
state = (df['State']=='Bremen')
c1 = 'Seattle'
c2 = 'Edmonds'
new_reg = 'West'
col_reg = 'Region'
col_city = 'City'
col_post = 'Postal Code'

condition4 = state & (df['City'] != c1) & (df['City'] != c2)
new_city4 = 'Bremen'
new_post4 = '28196'
df.loc[condition4, col_city] = new_city4
df.loc[condition4, col_post] = new_post4

condition1 = state & (df['City'] == c2)
new_city1 = 'Bremerhaven'
new_post1 = '27568'
df.loc[condition1, col_city] = new_city1
df.loc[condition1, col_post] = new_post1

condition2 = state & (df['City'] == c1)
new_city2 = 'Bremerhaven'
new_post2 = '27568'
df.loc[condition2, col_city] = new_city2
df.loc[condition2, col_post] = new_post2

condition3 = state
df.loc[condition3, col_reg] = new_reg

In [31]:
state = (df['State']=='Hamburg')
c1 = 'Chicago'
c2 = 'Springfield'
new_reg = 'West'
col_reg = 'Region'
col_city = 'City'
col_post = 'Postal Code'

condition4 = state & (df['City'] != c1) & (df['City'] != c2)
new_city4 = 'Hamburg'
new_post4 = '20095'
df.loc[condition4, col_city] = new_city4
df.loc[condition4, col_post] = new_post4

condition1 = state & (df['City'] == c2)
new_city1 = 'Hamburg'
new_post1 = '20146'
df.loc[condition1, col_city] = new_city1
df.loc[condition1, col_post] = new_post1

condition2 = state & (df['City'] == c1)
new_city2 = 'Hamburg'
new_post2 = '20255'
df.loc[condition2, col_city] = new_city2
df.loc[condition2, col_post] = new_post2

condition3 = state
df.loc[condition3, col_reg] = new_reg

In [32]:
state = (df['State']=='Hessen')
c1 = 'Columbus'
c2 = 'Cleveland'
new_reg = 'West'
col_reg = 'Region'
col_city = 'City'
col_post = 'Postal Code'

condition4 = state & (df['City'] != c1) & (df['City'] != c2)
new_city4 = 'Kassel'
new_post4 = '34117'
df.loc[condition4, col_city] = new_city4
df.loc[condition4, col_post] = new_post4

condition1 = state & (df['City'] == c2)
new_city1 = 'Marburg'
new_post1 = '35037'
df.loc[condition1, col_city] = new_city1
df.loc[condition1, col_post] = new_post1

condition2 = state & (df['City'] == c1)
new_city2 = '- Frankfurt am Main'
new_post2 = '60306'
df.loc[condition2, col_city] = new_city2
df.loc[condition2, col_post] = new_post2

condition3 = state
df.loc[condition3, col_reg] = new_reg

In [33]:
state = (df['State']=='Niedersachsen')
c1 = 'Jacksonville'
c2 = 'Miami'
new_reg = 'West'
col_reg = 'Region'
col_city = 'City'
col_post = 'Postal Code'

condition4 = state & (df['City'] != c1) & (df['City'] != c2)
new_city4 = 'Oldenburg'
new_post4 = '26121'
df.loc[condition4, col_city] = new_city4
df.loc[condition4, col_post] = new_post4

condition1 = state & (df['City'] == c2)
new_city1 = 'Hannover'
new_post1 = '30159'
df.loc[condition1, col_city] = new_city1
df.loc[condition1, col_post] = new_post1

condition2 = state & (df['City'] == c1)
new_city2 = 'Soltau'
new_post2 = '29614'
df.loc[condition2, col_city] = new_city2
df.loc[condition2, col_post] = new_post2

condition3 = state
df.loc[condition3, col_reg] = new_reg

In [34]:
state = (df['State']=='Mecklenburg-Vorpommern')
c1 = 'Detroit'
c2 = 'Jackson'
new_reg = 'East'
col_reg = 'Region'
col_city = 'City'
col_post = 'Postal Code'

condition4 = state & (df['City'] != c1) & (df['City'] != c2)
new_city4 = 'Rostock'
new_post4 = '18055'
df.loc[condition4, col_city] = new_city4
df.loc[condition4, col_post] = new_post4

condition1 = state & (df['City'] == c2)
new_city1 = 'Schwerin'
new_post1 = '19053'
df.loc[condition1, col_city] = new_city1
df.loc[condition1, col_post] = new_post1

condition2 = state & (df['City'] == c1)
new_city2 = 'Malchow'
new_post2 = '17213'
df.loc[condition2, col_city] = new_city2
df.loc[condition2, col_post] = new_post2

condition3 = state
df.loc[condition3, col_reg] = new_reg

In [35]:
state = (df['State']=='Nordrhein-Westfalen')
c1 = 'Newark'
c2 = 'Charlotte'
new_reg = 'West'
col_reg = 'Region'
col_city = 'City'
col_post = 'Postal Code'

condition4 = state & (df['City'] != c1) & (df['City'] != c2)
new_city4 = 'Essen'
new_post4 = '45239'
df.loc[condition4, col_city] = new_city4
df.loc[condition4, col_post] = new_post4

condition1 = state & (df['City'] == c2)
new_city1 = 'Wuppertal'
new_post1 = '42103'
df.loc[condition1, col_city] = new_city1
df.loc[condition1, col_post] = new_post1

condition2 = state & (df['City'] == c1)
new_city2 = 'Düsseldorf'
new_post2 = '40213'
df.loc[condition2, col_city] = new_city2
df.loc[condition2, col_post] = new_post2

condition3 = state
df.loc[condition3, col_reg] = new_reg

In [36]:
state = (df['State']=='Rheinland-Pfalz')
c1 = 'Phoenix'
c2 = 'Baltimore'
new_reg = 'West'
col_reg = 'Region'
col_city = 'City'
col_post = 'Postal Code'

condition4 = state & (df['City'] != c1) & (df['City'] != c2)
new_city4 = 'Tréveris'
new_post4 = '54290'
df.loc[condition4, col_city] = new_city4
df.loc[condition4, col_post] = new_post4

condition1 = state & (df['City'] == c2)
new_city1 = 'Kaiserslautern'
new_post1 = '67663'
df.loc[condition1, col_city] = new_city1
df.loc[condition1, col_post] = new_post1

condition2 = state & (df['City'] == c1)
new_city2 = 'Koblenz'
new_post2 = '56068'
df.loc[condition2, col_city] = new_city2
df.loc[condition2, col_post] = new_post2

condition3 = state
df.loc[condition3, col_reg] = new_reg

In [37]:
state = (df['State']=='Saarland')
c1 = 'Springfield'
c2 = 'Milwaukee'
new_reg = 'West'
col_reg = 'Region'
col_city = 'City'
col_post = 'Postal Code'

condition4 = state & (df['City'] != c1) & (df['City'] != c2)
new_city4 = 'Merzig'
new_post4 = '66663'
df.loc[condition4, col_city] = new_city4
df.loc[condition4, col_post] = new_post4

condition1 = state & (df['City'] == c2)
new_city1 = 'Homburg'
new_post1 = '66424'
df.loc[condition1, col_city] = new_city1
df.loc[condition1, col_post] = new_post1

condition2 = state & (df['City'] == c1)
new_city2 = 'Kirkel'
new_post2 = '66459'
df.loc[condition2, col_city] = new_city2
df.loc[condition2, col_post] = new_post2

condition3 = state
df.loc[condition3, col_reg] = new_reg

In [38]:
state = (df['State']=='Sachsen')
c1 = 'Columbus'
c2 = 'Atlanta'
new_reg = 'East'
col_reg = 'Region'
col_city = 'City'
col_post = 'Postal Code'

condition4 = state & (df['City'] != c1) & (df['City'] != c2)
new_city4 = 'Lípsia'
new_post4 = '04103'
df.loc[condition4, col_city] = new_city4
df.loc[condition4, col_post] = new_post4

condition1 = state & (df['City'] == c2)
new_city1 = 'Dresden'
new_post1 = '01067'
df.loc[condition1, col_city] = new_city1
df.loc[condition1, col_post] = new_post1

condition2 = state & (df['City'] == c1)
new_city2 = 'Chemnitz'
new_post2 = '09111'
df.loc[condition2, col_city] = new_city2
df.loc[condition2, col_post] = new_post2

condition3 = state
df.loc[condition3, col_reg] = new_reg

In [39]:
state = (df['State']=='Sachsen-Anhalt')
c1 = 'Memphis'
c2 = 'Nashville'
new_reg = 'East'
col_reg = 'Region'
col_city = 'City'
col_post = 'Postal Code'

condition4 = state & (df['City'] != c1) & (df['City'] != c2)
new_city4 = 'Magdeburg'
new_post4 = '39104'
df.loc[condition4, col_city] = new_city4
df.loc[condition4, col_post] = new_post4

condition1 = state & (df['City'] == c2)
new_city1 = 'Halle'
new_post1 = '06217'
df.loc[condition1, col_city] = new_city1
df.loc[condition1, col_post] = new_post1

condition2 = state & (df['City'] == c1)
new_city2 = 'Merseburg'
new_post2 = '06217'
df.loc[condition2, col_city] = new_city2
df.loc[condition2, col_post] = new_post2

condition3 = state
df.loc[condition3, col_reg] = new_reg

In [40]:
state = (df['State']=='Schleswig-Holstein')
c1 = 'Denver'
c2 = 'Aurora'
new_reg = 'West'
col_reg = 'Region'
col_city = 'City'
col_post = 'Postal Code'

condition4 = state & (df['City'] != c1) & (df['City'] != c2)
new_city4 = 'Kiel'
new_post4 = '24103'
df.loc[condition4, col_city] = new_city4
df.loc[condition4, col_post] = new_post4

condition1 = state & (df['City'] == c2)
new_city1 = 'Flensburg'
new_post1 = '24939'
df.loc[condition1, col_city] = new_city1
df.loc[condition1, col_post] = new_post1

condition2 = state & (df['City'] == c1)
new_city2 = 'Lübeck'
new_post2 = '23552'
df.loc[condition2, col_city] = new_city2
df.loc[condition2, col_post] = new_post2

condition3 = state
df.loc[condition3, col_reg] = new_reg

In [41]:
state = (df['State']=='Thüringen')
c1 = 'Richmond'
c2 = 'Henderson'
new_reg = 'East'
col_reg = 'Region'
col_city = 'City'
col_post = 'Postal Code'

condition4 = state & (df['City'] != c1) & (df['City'] != c2)
new_city4 = 'Erfurt'
new_post4 = '99084'
df.loc[condition4, col_city] = new_city4
df.loc[condition4, col_post] = new_post4

condition1 = state & (df['City'] == c2)
new_city1 = 'Jena'
new_post1 = '07743'
df.loc[condition1, col_city] = new_city1
df.loc[condition1, col_post] = new_post1

condition2 = state & (df['City'] == c1)
new_city2 = 'Gotha'
new_post2 = '99868'
df.loc[condition2, col_city] = new_city2
df.loc[condition2, col_post] = new_post2

condition3 = state
df.loc[condition3, col_reg] = new_reg

In [42]:
df.to_csv('WizardSupermarkt.csv', index=False)